<h2>Hey <%= current_user.email %>!</h2>

<p>Browse by: <%= link_to (image_tag (Food.all.where(kind: 'soup').first.image.url)), soups_path %></p>

<p>Browse by: <%= link_to (image_tag (Food.all.where(kind: 'salad').first.image.url)), salads_path %></p>
