<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>




 

  <strong>Image:</strong>
  <% @user.foods.each do |food| %>

  <p><%= image_tag food.image.url %></p>
  <%= link_to "Delete", food, method: :delete, data: {confirm: "Really delete this article?"} %>
  <% end %> 



