<h4 class="greeting col-sm-5 col-sm-offset-1">Our Salad Selection</h4>
<%= render "browse_dropdown", food_type: 'salads' %>
<div class="food-container col-md-12">
	<% @salads.each do |salad| %>
		<div class="food col-md-4">
	 		<%= link_to image_tag(salad.image_url, class: "img-preview"), food_path(salad.id), :class => "img-preview" %>
	 		<h3 class="title-preview"><%= link_to salad.title.capitalize, food_path(salad.id) %></h3>
	 	</div>
	<% end %>
</div>
