<h4 class="greeting col-sm-4 col-sm-offset-1">Our Soup Selection</h4>
<%= render "browse_dropdown", food_type: 'soups' %>
<div class="food-container col-md-12">
	<% @soups.each do |soup| %>
		<div class="food col-md-4">
			<%= link_to image_tag(soup.image_url, class: "img-preview"), food_path(soup.id) %>
			<h3 class="title-preview"><%= link_to soup.title.capitalize, food_path(soup.id) %></h3>
	  	</div>
	<% end %>

	<div id="pagination-bar">
  		<%= will_paginate @soups %>
	</div>
</div>