// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #2c3e52;

.greeting {
	margin-bottom: 5%;
	display: block;
}

.prompt {
	font-size: 3em;
	margin-top: 2%;
	margin-bottom: -5%;
	display: block;
	text-align: center;
}

.craving {
	text-align: center;
	font-size: 2em;
	color: $primary-color;
	span {
		margin: 0 auto;
	}
}

.browse-by {
	clear: both;
	margin: auto;
	display: flex;
	.browse-food {
		.check-it {
			border-radius: 50%;
			height: 3em;
			width: 10em;
			position: relative;
			top: 5em;
			text-align: center;
		}
		.check-it a {
			color: $primary-color;
			position: relative;
			top: 25%;
		}
		.check-it-left {
			background-color: #88D8D8;
			float: left;
			left: -5em;
		}
		.check-it-right {
			background-color: #88D8B0;
			float: right;
			right: -5em;
		}
		.game-pic {
			margin-top: 15vh;
			position: relative;
			width: 100%;
			img {
				width: 100%;
				height: 30.1vw;
			}
		}
		img{
			border-radius: 50%;
			width: 100%;
			height: 22vw;
			margin: 0 auto;
			&:hover {
				transform: scale(1.04);
   			}	
		}
		.title {
			text-align: center;
			font-size: 2.5em;
			a {
				text-decoration: none;
				color: $primary-color;
				 &:hover {
        			color: #738394;
   				 }
			}
		}
	}
	.vs {
		height: 30.1vw;
		
		position: relative;
		margin-top: 10%;
		color: $primary-color;
		
		#top-word {
			border-radius: 50%;
			background-color: #88D8D8;
			margin-left: -3vw;
			position: relative;
			display: inline-block;
			float: left;
			font-size: 1.5em;
		}

		#vs-word {
			border-radius: 50%;
			background-color: #d8b088;
			display: inline-block;
			position: relative;
			top: 25%;
			font-size: 3em;
			margin-left: 5vw;
		}

		#bottom-word {
			border-radius: 50%;
			background-color: #88D8B0;
			display: inline-block;
			position: relative;
			float: right; 
			font-size: 1.5em;
			top: 70%;
			margin-right: -3vw;
		}
		
	}
	.or {
		align-items: stretch;
		text-align: center;
		position: relative;
		font-size: 10vh;
		line-height: 10vh;
		margin-top: 10%;
		margin-bottom: 10%;
		color: $primary-color;
		span {
			margin: 0 auto;
		}
	}
}